.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (min-width: 1200px) {
    justify-content: flex-start;
  }

  .filter {
    width: 300px;

    @media (min-width: 1200px) {
      &:last-child {
        margin-left: 50px;
      }
    }
  }
}
