.resume {
  background: white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
  padding: 20px;
  @media (min-width: 800px){
    margin-top: -20px;
    margin-bottom: -20px;
    margin-right: -20px;
  }
}

.timeline {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 50px;

  &::before {
    position: absolute;
    top: 0%;
    left: 20px;
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border-left: 2px dashed #ff6d00;
  }

  .category {
    // margin-bottom: 50px;

    h2 {
      margin-left: 35px;
    }

    &:nth-of-type(even) {
      .point {
        &:nth-of-type(odd) {
          background: rgba(0, 0, 0, 0.025);
        }
        &:nth-of-type(even) {
          background: transparent;
        }
      }
    }


    .point {
      position: relative;
      padding: 0 35px;
      margin-left: -20px;
      margin-right: -20px;

      &:nth-of-type(even) {
        background: rgba(0, 0, 0, 0.025);
      }

      i.fa{
        position: absolute;
        left: 23px;
        top: 13px;
        background: #ff6d00;
        color: white;
        border-radius: 5px;
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
      }

      .details{
        padding: 0px 30px;
      }

      .year {
        color: #ff6d00;
        margin-left: 30px;
        font-size: 30px;
        line-height: 60px;
      }
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.skill-container {
  background: #f9f9f9;
  width: 100%;
  display: inline-block;
  margin: 2% auto;
  @media screen and (min-width:960px) {
    width: 45%;
  }

  h3 {
    margin-top: 10px;
    text-align: center;
  }
}
ul.skill-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
ul.skill-list li {
  margin-bottom: 15px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  @media screen and (min-width:600px) {
    width: 33%;
  }
  @media screen and (min-width:1200px) {
    width: 25%;
  }

  svg {
    width: 45px;
    height: 45px;
  }
}

.test {
  width: 26%;
  margin: auto;
  background: white;
  background: rgba(0,0,0,0.1);
  height: 250px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 50px;
  padding: 0 15px;

  h3 {
    margin: 15px 0;
    text-align: center;
  }
}
