a{
	outline: 0;
}
.profile-img
{
	height: 120px;
	width: 120px;
	display: inline;
	border-radius: 50%;
	margin-right: 20px;
	background-image: url(https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xft1/t51.2885-15/e15/11380205_835645333137222_650361896_n.jpg?ig_cache_key=NjE2MjUwODY4NzIwODkzNDk2.2);
	background-size: 225px;
	background-position: 50% 40%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.learn-more{
	// display: block;
	text-decoration: none;
	margin-bottom: 20px;
	text-align: center;

	.circle-button{
		margin: auto;
		line-height: 55px;
		font-size: 50px;
		color: white;
		text-align: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $primary;
		box-shadow: 0 7px 15px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		animation-duration: 2s;
		// animation-delay: 1s;

		&:hover{
			background-color: $accent_color;
			box-shadow: 0 10.5px 21px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
		}
	}
}

.section-title
{
	display: block;
	margin-left: -10vw;
	// margin-top: 20px;
	// width: auto;
	// align-self: flex-start;
	padding: 10px 20px;
	// margin-top: 20px;
	font-family: 'lato';
	font-size: 40px;
	line-height: 40px;
	background: $primary;
	color: white;
}

p{
	color: $text;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.loaded
{
	.loader{
		.loader-section.section-left {
		    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
		}

		.loader-section.section-right {
		    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
		}

		#loader {
	    opacity: 0;
		}
	}
}


.loader
{
	.loader-section {
	    position: fixed;
	    top: 0px;
		bottom: 0px;
	    width: 51%;
	    background: #222222;
	    z-index: 100000;
	}

	.loader-section.section-left {
	    left: 0;
		transition: all 0.3s 0.3s ease-out;
	}

	.loader-section.section-right {
	    right: 0;
		transition: all 0.3s 0.3s ease-out;
	}

	#loader{
	    display: block;
	    position: fixed;
	    left: 50%;
	    top: 50%;
	    width: 150px;
	    height: 150px;
	    margin: -75px 0 0 -75px;
	    border-radius: 50%;
	    border: 3px solid transparent;
	    border-top-color: purple;
	    animation: spin 2s linear infinite;
	    z-index: 100001;
		transition: all 0.3s ease-out;

		&::before {
		    content: "";
		    position: absolute;
		    top: 5px;
		    left: 5px;
		    right: 5px;
		    bottom: 5px;
		    border-radius: 50%;
		    border: 3px solid transparent;
		    border-top-color: $accent_color;
		    animation: spin 3s linear infinite;
		}

		&::after{
			content: "";
		    position: absolute;
		    top: 15px;
		    left: 15px;
		    right: 15px;
		    bottom: 15px;
		    border-radius: 50%;
		    border: 3px solid transparent;
		    border-top-color: $primary;
		    animation: spin 1.5s linear infinite;
		}
	}
}

@keyframes spin
{
    0%{
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
