.menu {
margin: 25px 0;
  > .menu-list {
    list-style: none;
    padding: 0;
    margin: 25px 25px 25px;
    font-family: 'Roboto Slab';

    > .list-item {
      margin: 10px 0;

      a {
        text-decoration: none;
        color: #b8b7ad;
        font-size: 20px;
        transition: all 0.3s linear;

        &:hover, &.active {
          color: #03A9F4;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .menu {
    > .menu-list {
      > .list-item {
        a {
          font-size: 25px;
        }
      }
    }
  }
}
