section.about
{
	background-color: rgba(0, 0, 0, 0.05);
	margin: 0 5000px 0 -5000px;
	padding: 0 5000px;
	width: 100vw;
	// height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;;
	position: relative;
	// border: dashed red;

	.about1
	{
		// width: 100%;
		// height: 200px;
		// margin: auto;
		padding-top: 50px;
		align-self: flex-start;
		// background: orange;
		// border: solid black;
	}

	.about2{
		display: flex;
		flex-direction: row;
		// margin-left: auto;
		// margin-right: auto;

		margin: 100px auto;
		flex-wrap: wrap;
		border: solid red;

		.about2-1
		{
			margin: auto;
			background: red;
			width: 300px;
			height: 300px;
			border-radius: 360%;
			// flex: 1;
		}
		.about2-2
		{
			min-width: 600px;
			// width: 600px;
			// height: 200px;
			margin: auto;
			padding: 0 50px;
			// background: orange;
			border: dashed blue;
			flex: 3;
		}
	}
	.about3
	{
		width: 100%;
		height: 200px;
		background: orange;
		border: solid grey;

	}
}
.main-header{
	color: $primary;
	font-size: 50px;
	line-height: 50px;
	padding: 10px 0;
	font-weight: bold;
	font-family: 'lato';
}
.main-subheader{
	color: $primary_dark;
	font-size: 20px;
	padding: 5px;
}
