section.about
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;;
	position: relative;

	.section-title{
		position: absolute;
		top: 20px;
		left: 0px;
	}

	.about1
	{
		padding-top: 50px;
		align-self: flex-start;
	}

	.about2{
		display: flex;
		flex-direction: row;
		width: 100%;
		margin: 100px auto;
		flex-wrap: wrap;

		.about2-1
		{
			flex: 0 0 auto;
			margin: auto;
			background: url('https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xal1/t51.2885-15/e35/11333394_940715655985897_1457367089_n.jpg?ig_cache_key=MTA4MjI3MDc1NjQ5NDI3ODYzMw%3D%3D.2') no-repeat 50%;
			background-size: cover;
			width: 300px;
			height: 300px;
			border-radius: 360%;
			position: relative;
			@media screen and (max-width: 425px){
				width: 200px;
				height: 200px;
			}

			&:after{
			    content: "";
			    width: 100px;
			    height: 100px;
			    display: block;
			    position: absolute;
			    right: 65px;
			    background: url('http://livingfree2015.com/img/arrow.png');
			    top: -35px;
			    background-size: cover;
			    transform: rotateZ(-100deg) rotateY(180deg);
				@media screen and (max-width: 425px){
					right: 40px;
					top: 120px;
					transform: rotateZ(75deg) rotateY(180deg);
				}
			}
			&:before{
			    content: "Thats me!";
			    font-weight: bold;
			    font-size: 25px;
			    position: absolute;
			    right: -50px;
			    top: -40px;
				@media screen and (max-width: 425px){
					left: -50px;
					top: 205px;
				}
			}
		}
		.about2-2{
			flex: 1 1 300px;
			min-width: 300px;
			margin: auto;
			padding: 0 50px;

			@media screen and (max-width: 772px){
				padding: 10px;
				min-width: 290px;
			}

			@media screen and (max-width: 425px){
				padding: 10px;
				min-width: 150px;
				margin: 20px -10%;
			}
		}
	}

	.separator-icons{
		text-align: center;
		font-size: 30px;
		color: #03a9f4;
		i{
			margin: 0 20px;
		}
	}
}
.main-header{
	color: $primary;
	font-size: 50px;
	line-height: 50px;
	padding: 10px 0;
	font-weight: bold;
	font-family: 'lato';
}
.main-subheader{
	color: $primary_dark;
	font-size: 20px;
	padding: 5px;
}
