section.home
{
	width: 100%;
	height: calc(100vh);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 -10vw;
	padding: 0 10vw;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

}

.profile-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.main-header{
	text-align: center;
	color: rgba(0,0,0,1);
	color: rgba(255,255,255,.6);
	font-size: 90px;
	line-height: 90px;
	padding: 10px 0;
	font-weight: 900;
	font-family: 'lato';
	@media (max-width: 777px){
		font-size: 50px;
		line-height: normal;
	}

}

.main-subheader{
	display: inline;
	text-align: left;
	color: rgba(255,255,255,.7);
	font-size: 20px;
	padding: 5px;

	@media (max-width: 771px)
	{
		text-align: center;
	}
}

.flex-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-top: 70px;
}

.flex-inner-container{
	margin: auto;
}
