section.home
{
	width: 100%;
	height: calc(100vh);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 -10vw;
	padding: 0 10vw;
	background-image: url(https://images.unsplash.com/photo-1453090643118-eae60f5bc58a?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1855&h=1237&q=80);
	background-attachment: fixed;
	background-position: 50% 15%;

	@media (max-width: 1000px)
	{
		background-position: 53% 15%;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
}

.profile-wrapper{
	display: flex;
	align-items: center;
}
.main-header{
	text-align: center;
	color: rgba(0,0,0,1);
	color: rgba(255,255,255,.5);
	font-size: 90px;
	line-height: 90px;
	padding: 10px 0;
	font-weight: 900;
	font-family: 'lato';

}

.main-subheader{
	display: inline;
	text-align: left;
	color: rgba(255,255,255,.7);
	font-size: 20px;
	padding: 5px;
}

.flex-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-top: 70px;
}
