.sidebar {
  height: 70px;
  position: fixed;
  z-index: 1000;

  .hamburger {
    font-size: 30px;
    margin: 0 15px 0 auto;

  }

  .canvas {
    width: 75%;
    max-width: 300px;
    height: 100%;
    min-height: calc(100vh - 70px);
    background: rgb(23, 32, 47);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    transform: translate3d(-100%, 0, 0);

    &.open {
      transform: translate3d(0,0,0);
    }
  }

  .overlay {
    background: rgba(0,0,0,0.6);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: opacity 0.3s linear;

    &.open{
      height: 100%;
      opacity: 1;
    }
  }

  .profile-img {
    margin-top: 20px;

    > img {
      display: block;
      margin: auto;
      width: 70%;
      height: auto;
      border-radius: 50%;
      box-shadow: 1px 0px 3px rgba(0,0,0,0.6)
    }
  }
  .profile-name {
    background: rgb(23, 32, 47);
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    color: #03A9F4;
    font-size: 18px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
    z-index: 5;

    > h1 {
      margin: 0 0 0 10px;
    }
  }
}


.hamburger {
  width: 40px; // ancho del hamburger
  width: 30px; // ancho del hamburger
  height: 33px; // altura del hamburger
  height: 23px; // altura del hamburger
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 7px; // Grosor de las lineas
    height: 3px; // Grosor de las lineas
    width: 50%; // No cambiar el ancho de las lineas
    background: #03A9F4;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }

  span:nth-child(1), span:nth-child(2) {
    top: 0px;
  }

  span:nth-child(3), span:nth-child(4) {
    top: 10px;
  }

  span:nth-child(5), span:nth-child(6) {
    top: 20px;
  }

  &.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  &.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  &.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  &.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  &.open span:nth-child(5) {
    left: 5px;
    top: 12px;
  }

  &.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 12px;
  }

  &.open span:nth-child(1), &.open span:nth-child(6) {
    transform: rotate(45deg);
  }

  &.open span:nth-child(2), &.open span:nth-child(5) {
    transform: rotate(-45deg);
  }
}

@media (min-width: 800px) {
  .sidebar {
    top: 20px;
    left: 20px;
    flex-shrink: 0;
    width: 250px;
    height: calc(100vh - 40px);
    background: rgb(23, 32, 47);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);

    @media (min-width: 1600px) {
      width: 300px;
    }

    .profile-name {
      width: auto;
      background: none;
      box-shadow: none;
      position: absolute;
      top: 197px;

      @media (min-width: 1600px) {
        top: 240px;
      }
    }

    .overlay {
      display: none;
    }

    .profile-img {
      margin: 0;

      > img {
        border-radius: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
      }
    }

    .canvas {
      transform: none;
      width: 100%;
    }
  }
  .hamburger {
    display: none
  }
}
