.site-intro {
  position: relative;
  margin-bottom: 15px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);

  > .slogan {
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    font-family: Roboto Mono;
    font-size: 20px;

    > .fa {
      color: rgba(3, 169, 244, 0.3);
      font-size: 25px;
      padding: 0 5px;
    }
  }

  @media (min-width: 800px) {
    margin: -20px -20px 20px 0;

    > .slogan {
      text-align: right;
    }
  }
}
