.post-tag-container {
  // text-align: right;
  // margin-left: auto;

  a{
    color: #ff6d00;
    margin-right: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ff6d00;
  }
}
